# Artefatti di build LaTeX
tesi/*.aux
tesi/*.log
tesi/*.fls
tesi/*.out
tesi/*.toc
tesi/*.listing
tesi/*.fdb_latexmk
tesi/_minted/
tesi/_minted-*/
tesi/*.bak
tesi/figtest.*
tesi/frontespizio.pdf

# Python
__pycache__/
*.pyc

# Artefatti di build della presentazione
presentazione/*.aux
presentazione/*.log
presentazione/*.out
presentazione/*.nav
presentazione/*.snm
presentazione/*.toc
presentazione/*.vrb
presentazione/*.fls
presentazione/*.fdb_latexmk
